APP_DEBUG=true
PORT=5009
# CORS_ORIGIN=http://localhost:8000,http://127.0.0.1:8000,http://192.168.1.103:8000
CORS_ORIGIN=*

GRPC_PORT=5010

MONGO_HOST=
MONGO_PORT=
MONGO_DATABASE=
MONGO_USERNAME=
MONGO_PASSWORD=

SOCKET_TIMEOUT=3000
SOCKET_INTERVAL=1000

ACCESS_TOKEN=

PROJECT_SERVICE=http://localhost:5003
PROJECT_GRPC=localhost:5004
PROJECT_ACCESS_TOKEN=

IOT_GATEWAY=http://10.8.1.1:18083
IOT_ACCESS_TOKEN=

TIME_ZONE=Asia/Ho_Chi_Minh